.Notfound {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #7a7a7a;
}
.link-color {
  color: #3fa9f5;
}
.sorry {
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
}
